<#-- импортируем основной шаблон-контейнер который содержит в себе разметку для основной структуры страницы -->
<#import "partials/main2.ftlh" as main>
<#-- обрабатываем его, и передаём ему список скриптов, которые необходимо подключить-->
<@main.renderWith scripts=["/js/new.js"] styles=["/css/styles.css", "css/reset.css"]>
<#--
здесь находится содержимое этой страницы
и оно будет подставлено вместо <#nested> элемента
в макро-функции
https://freemarker.apache.org/docs/dgui_misc_userdefdir.html
-->
<div class="left_column">
    <div class="logo"><a href="/" class="logo_link"><img class="logo_img" src="../../src/main/resources/static/img/Logo.png" alt=""></a></div>
    <div class="categories">
        <ul id="categories_list" class="categories_list">
            <#list categories as category>
                <li class="category_item" categoryId="${category.id}">${category.name}</li>
            </#list>
        </ul>
    </div>
</div>
<div class="main">
    <header>
        <div class="header_container">
            <div class="search_form">
                <form id="search_form">
                    <input type="text" class="search_text" name="text" placeholder="Искать здесь...">
                    <button type="submit" class="search_btn">Поиск</button>
                </form>
            </div>
            <span id="searchLink" class="searchLink">Расширеный поиск</span>
            <div id="profile_links" class="profile_links">
                <!--
                <div id="logined" class="profile_links_item">
                    <a href="/profile" class="profile_link"></a>
                    <p class="log_out">Выйти</p>
                </div>
                -->
                <div id="not_logined" class="profile_links_item">
                    <a href="/login" id="log_link">Вход</a>
                    <a href="/registration" id="reg_link">Регистрация</a>
                </div>

                <div class="basket">
                    <a href="/basket" class="header_btn">Корзина</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="product_list" class="product_list">
            <#list items as product>
                <div class="product">
                    <div class="product_img"><img src="/img/${product.image}" alt=""></div>
                    <div class="product_name"><h3>${product.name}</h3></div>
                    <p>${product.price} сом</p>
                    <button class="header_btn">В корзину</button>
                </div>
            </#list>
        </div>
        <#include "partials/pagination.ftlh">
    </main>
    <footer>

    </footer>
</div>

<#--
здесь мы подставляем содержимое другого "частичного" шаблона
который отвечает за отображение элементов для постраничного просмотра данных
https://freemarker.apache.org/docs/ref_directive_include.html
-->


</@main.renderWith>