@media screen and (max-width: 780px){
	.header_container{
		padding: 5px 15px 25px;
	}
	a.logo{
		width: 90px;
		padding-left: 0;
	}
	.header_btn{
		padding: 7px 20px;
		top: 10px;
		right: 10px;
	}
	.main_nav{
		display: none;
	}
	.btn_menu{
		display: block;
	}
	.header_btn{
		border: 2px solid #00a859;
		font-size: 8px;
		letter-spacing: 2px;
		padding: 3px 10px;
	}
	.main_pic_big img{
		display: none;
	}
	.main_pic_middle{
		display: block;
		margin-bottom: 2.7%
	}
	.item{
		width: 48.5%;
	}
	.link_item{
		width: 49%;
		margin-bottom: 5%;
	}
	.link_item_4{
		display: none;
	}
	.inner_about_item{
		width: 100%;
		margin-bottom: 10%;
	}
}
@media screen and (max-width: 580px){
	.item{
		width: 100%;
		display: block;
		margin: 1.5% auto;
		text-align: center;
	}
	h2{
		font-size: 25px;
	}
	.about{
		height: auto;
		padding-bottom: 30%;
	}
	.inner_about h2{
		margin-bottom: 15.1%;
	}
	.inner_about_item{
		margin-bottom: 20%;
	}
	.sender{
		width: 70%;
		height: 70%;
		padding: 4% 2% 3.5%;
	}
	.field{
		width: 100%;
		height: 40px;
		font-size: 13px;
		padding: 2.1% 2%;
	}
	.sender h3{
		font-size: 20px;
		letter-spacing: 2px;
	}
	.sender p{
		font-size: 12px;
	}
	.sender_btn{
		letter-spacing: 1.8px;
	}
}