.no-scroll{
    overflow: hidden;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background: #FFF;
    font-size: 14px;
    line-height: 1.3;
    min-width: 320px;
    margin: 0;
}
.container{
    min-width: 320px;
    max-width: 1800px;
    display: flex;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6, p{
    margin: 0;
}
.w_10{ width: 10%;}
.w_15{ width: 15%;}
.w_25{ width: 25%;}
.w_30{ width: 30%;}
.w_40{ width: 40%;}
.w_50{ width: 50%;}
.w_60{ width: 60%;}
.w_70{ width: 70%;}
.w_80{ width: 80%;}
.w_100{width:100%;}
/* ========================================= Смена языка ===============================================*/
.change_language_form{
    padding: 1em;
    width: 100%;
    display: block;
}
.change_language_form label{
    margin-bottom: 1em;
}
.change_select_block{
    display: flex;
}
/* ========================================= Смена языка ===============================================*/
/*  ======================================== Колонка категорий  ======================================== */
.left_column{
    width: 15%;
    background: rgba(255,255,255, 1);
    box-shadow: 0 10px 20px 0 rgba(50, 50, 50, 0.2);
    height: auto;
}
.categories_list{
    list-style: none;
    padding: 0;
}
.category_item{
    display: inline-block;
    width: 100%;
    color: black;
    text-decoration: none;
    border-bottom: none;
    padding: 1em;
    transition: .2s linear;
    cursor: pointer;
}
.category_item:hover{
    background: #00a859;
}
.main{
    width: 85%;
}
/*  ======================================== Заголовок  ======================================== */
header{
    width: 100%;
    box-shadow: 10px 10px 20px 0 rgba(50, 50, 50, 0.2);
    top: 0;
    left: 0;
    margin-bottom: 2em;
}
.header_container{
    padding: 15px 15px 15px;
    max-width: 1800px;
    margin: auto;
}
.logo{
    width: 100%;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}
.logo_img{
    width: 200px;
}
a.logo i{
    display: none;
}
.search_form {
    position: relative;
    display: inline-block;
    width: 50%;
    margin-left: 3em;
}
.search_text {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #f0f0f0;
    color: #9E9C9C;
}
.search_btn {
    position: absolute;
    top: 0;
    right: 0px;
    width: 15%;
    height: 42px;
    border: none;
    background: #00a859;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
/*  ======================================== Расширеный поиск  ======================================== */
.searchLink{
    width: 10%;
    margin-left: 2em;
    cursor: pointer;
}
.full_search_item{
    width: 50%;
    padding: 3em;
    margin-bottom: 3em;
}
.full_search_item h3{
    margin-bottom: 2em;
}
.full_search_btn{
    background: #00a859;
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 0.3em;
    text-align: center;
    width: 20%;
    float: right;
    height: 40px;
}
.profile_links{
    float: right;
    display: flex;
    width: 30%;
}
.profile_links_item{
    width: 50%;
    display: flex;
}
.profile_links_item>a{
    font-size: 1em;
    width: 50%;
    text-align: right;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.basket{
    width: 50%;
}
.basket_btn{
    float: right;
    padding: 4% 20%;
    border: 4px solid #00a859;
    border-radius: 4px;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2.5px;
    right: 16px;
    margin-left: 0.5%;
    transition: .2s linear;
}
.basket_btn:hover{
    background-color: #00a859;
    border: 4px solid grey;
}
.btn_menu{
    width: 40px;
    height: 40px;
    background: rgba(54,174,234, 0.7);
    position: absolute;
    top: 7px;
    left: 140px;
    padding: 4px 5px 0 0;
    border-radius: 4px;
    display: none;
}
.btn_menu:hover ul{
    display: block;
}
.btn_menu i::before{
    content: "\f0c9";
    font-family: FontAwesome, serif;
    color: #fff;
    font-size: 25px;
    display: block;
    text-align: center;
}
.btn_menu ul{
    padding: 10px 20px 10px 0px;
    width: 180px;
    margin: 0;
    list-style: none;
    background: #fff;
    position: absolute;
    top: 40px;
    left: -140px;
    border-radius: 4px;
    display: none;
}
.btn_menu li{
    display: block;
    text-align: right;
    margin-bottom: 10px;
    position: relative;
}
.btn_menu li::after{
    content: "\f0d9";
    font-family: FontAwesome, serif;
    color: #36aeea;
    font-size: 18px;
    position: absolute;
    top: -1px;
    right: -10px;
}
.btn_menu a{
    color: #9daeb6;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
/* ======================================== Продукт ======================================== */
.product_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2em;
}
.product{
    width: 20%;
    border: #00a859;
    padding: 2em;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
}
.product_img{
    height: 220px;
    margin-bottom: 2em;
}
.product_img>a>img{
    cursor: pointer;
    max-height: 220px;
    display: block;
    margin: auto;
}
.product_name{
    height: 60px;
    text-align: center;
}
.product_name>a>h3{
    cursor: pointer;
    margin-bottom: 1.5em;
    font-size: 1em;
}
.product>p{
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
    cursor: default;
}
.product_description{
    cursor: default;
}
/* ========================================  Продукт подробно ======================================== */
.product_detail{
    width: 100%;
    display: inline-block;
}
.product_detail_block{
    padding: 2em;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
}
.product_block_detail{
    width: 100%;
    display: flex;
    margin: auto auto 1.5em;
}
.product_header_detail{
    width: 100%;
    display: inline-block;
    margin: auto auto 1em;
    text-align: center;
}
.w-70_detail{
    width: 70%;
    padding: 0 2em;
}
.product_img_detail{
    width: 100%;
}
.product_img_detail>img{
    width: 100%;
    cursor: pointer;
    display: block;
    margin: auto;
}
.product_name_detail{
    text-align: left;
    margin-bottom: 1em;
}
.product_name_detail>h3{
    cursor: pointer;
    font-size: 1em;
}
.product_price_detail{
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    margin-bottom: 1em;
    cursor: default;
}
.product_description_detail{
    font-size: 0.9em;
    cursor: default;
    margin-bottom: 1em;
}
/* ======================================== Страничная ссылка ======================================== */
.product_page_links{
    width: 100%;
    display: inline-block;
}
.page{
    display: inline-block;
    text-align: center;
    width: 3%;
    color: black;
    background-color: darkgrey;
    text-decoration: none;
    border-bottom: none;
    padding: 1em;
    cursor: pointer;
    transition: .2s linear;
    font-weight: bold;
}
.page:hover{
    background-color: #00a859;
}
.previous_page{
    float: left;
}
.next_page{
    float: right;
}
/* Footer*/
footer{
    height: 100px;
    background-color: #66b67d;
}


/* ======================================== Форма регистрации/входа ======================================== */
.registration{
    width: 100%;
}
.form_block{
    width: 25%;
    text-align: center;
    border: none;
    margin: auto;
    /*background: -moz-linear-gradient(top, rgba(200,207,212,1) 0%, rgba(0,150,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(200,207,212,1)), color-stop(100%, rgba(0,150,0,1)));
    background: -webkit-linear-gradient(top, rgba(200,207,212,1) 0%, rgba(0,150,0,1) 100%);
    background: -o-linear-gradient(top, rgba(200,207,212,1) 0%, rgba(0,150,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(200,207,212,1) 0%, rgba(0,150,0,1) 100%);
    background: linear-gradient(to bottom, rgba(200,207,212,1) 0%, rgba(0,150,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8cfd4', endColorstr='#5c8b96', GradientType=0 );
    box-shadow: inset 0px 50px 30px 0px rgba(255, 255, 255, 0.2);*/
}
.form_block h3{
    text-align: center;
    color: black;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 0.5em 0.5em;
    margin-bottom: 0.5em;
}
.field{
    width: 100%;
    height: 3em;
    padding-left: 10px;
    border: 2px solid #00a859;
    border-radius: 5px;
    outline: none;
    background: #f0f0f0;
    color: black;
    margin-bottom: 1em;
}
.form_block_btn, .emulation_form_block_btn, .reset_block_btn{
    background: #00a859;
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 0.3em;
    text-align: center;
    width: 100%;
    height: 70px;
    margin-bottom: 2em;
}
.bottom_box{
    display: inline-block;
    padding: 1em;
    margin-bottom: 1em;
}
.bottom_box a{
    text-decoration: none;
    color: black;
    background-color: grey;
    padding: 1em;
    border-radius: 0.3em;
}
.bottom_box a:hover{
    background-color: #00a859;
}
/* ======================================== Форма регистрации/входа ======================================== */
.logout {
    display: flex;
}
.log_out{
    border: none;
    background: none;
}
/* ======================================== Форма корзины  ======================================== */
.product_basket{
    display: flex;
    margin: auto;
}
.product_basket_form{
    width: 100%;
    display: flex;
}
.product_basket_qty_block{
    display: flex;
}
.product_qty_span{
    margin: auto 0;
}
.product_qty_text{
    text-align: center;
}
.product_basket_btn{
    width: 100%;
    padding: 4% 20%;
    border: 4px solid #00a859;
    border-radius: 4px;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2.5px;
    right: 16px;
    margin-left: 0.5%;
}
.product_basket_btn:hover{
    background-color: #00a859;
}

/* ======================================== Корзина ======================================== */
.bp{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.bp_products{
    width: 70%;
    display: inline-block;
}
.bp_products h2{
    text-align: center;
}
.bp_product_list{
    margin: 0;
}
.bp_block{
    padding: 3em 0;
    margin-bottom: 1em;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
    position: relative;
}

.bp_product{
    width: 100%;
    display: flex;
}
.bp_product_img{
    width: 40%;
}
.bp_product_img>a>img{
    cursor: pointer;
    max-height: 220px;
    display: block;
    margin: auto;
}
.bp_product_info{
    width: 60%;
    padding: 0 1em;
}
    /* Часть заказа */
.bp_order{
    width: 30%;
    padding: 0 1em;
}
.bp_order_block{
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
    padding: 1em;
}
.bp_order_data{
    display: flex;
    margin-bottom: 4em;
}
.bp_order_data>p{
    text-align: right;
    font-weight: bold;
    font-size: 1.8em;
}


.bp_order_btn{
    width: 100%;
    padding: 4% 20%;
    border: 4px solid #00a859;
    border-radius: 4px;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    right: 16px;
    margin-left: 0.5%;
}
.bp_order_btn:hover{
    background-color: #00a859;
}
/* ==================== Удаление из корзины =================*/
.pbd{
    position: absolute;
    top: 0;
    right: 0;
}
/* ==================== Удаление из корзины =================*/

/* ==================== Успешный заказ =================*/

.success_order{
    padding: 3em;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
    width: 100%;
    margin: auto;
}
.success_order>h3, p{
    margin-bottom: 1em;
}
.success_order_data{
    padding: 1em;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
    margin-bottom: 2em;
}
.success_order_data>p{
    margin-bottom: 1em;
}
.success_order_product_table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 5px;
    background: #E1E3E0;
    border-radius: 20px;
    width: 100%;
}
.success_order_product_table th {
    font-size: 22px;
    font-weight: 300;
    padding: 12px 10px;
    border-bottom: 2px solid #00a859;
    /*color: #F56433;    //Оранжевый */
    color: black;
}
.success_order_product_table tr:nth-child(2) {
    border-bottom: 2px solid #00a859;
}
.success_order_product_table td {
    padding: 10px;
    color: black;
    text-align: left;
}
/* ==================== Успешный заказ =================*/
.reviews{
    padding: 1em;
}
.review{
    width: 100%;
}
.review h5{
    text-align: center;
    color: black;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 0.5em 0.5em;
    margin-bottom: 0.5em;
}
.big_field{
    width: 100%;
    height: 10em;
    padding-left: 10px;
    border: 2px solid #00a859;
    border-radius: 5px;
    outline: none;
    background: #f0f0f0;
    color: black;
    margin-bottom: 1em;
}
.review_block_btn{
    background: #00a859;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 0.3em;
    text-align: center;
    width: 30%;
    height: 40px;
    margin-bottom: 2em;
}
.review_product_link{
    color: black;
    text-transform: lowercase;
    border: none;
    border-radius: 0.3em;
    text-align: center;
    width: 100%;
    height: 20px;
}
.product_review_block{
    padding: 1em;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
    margin-bottom: 2em;
    width: 50%;
}
.product_review_block h5, p{
    margin-bottom: 1em;
    font-style: italic;
}
.product_review_block p{
    min-height: 4em;
}
/* Profile*/
.profile{
    padding: 3em;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.2);
    width: 100%;
    margin: auto;
}
.profile h3 {
    margin-bottom: 1em;
}
.user_data{
    margin-bottom: 1em;
}
