<#import "/spring.ftl" as spring>
<#import "partials/main.ftlh" as main>
<@main.renderWith styles=["css/styles.css", "css/reset.css"]>

    <div class="registration">
        <div class="form_block">
            <h3><@spring.message "forgottenPassword.text" /></h3>
            <form id="reset_form" action="/forgot_password" method="post">
                <div class="form_row">
                    <#if _csrf??>
                        <input type="hidden" name="${(_csrf.parameterName)!'csrf'}" value="${(_csrf.token)!'--no-token--'}"/>
                    </#if>
                    <input type="text" class="field" name="email" placeholder="<@spring.message "forgottenPassword.email" />" value="${(dto.email)!''}" autofocus>
                    <button type="submit" class="form_block_btn" name="enter"><@spring.message "forgottenPassword.send" /></button>
                </div>
            </form>
            <div>
                <#if errors??>
                    <p><@spring.message "error.enteredValueError" /></p>
                    <#list errors as fieldError>
                        <p>${fieldError.field} - ${fieldError.defaultMessage!'-- no message --'}</p>
                    </#list>
                </#if>
            </div>
            <#if errorText?? >
            <div>
                <p style="color:red; margin-bottom: 1em;">${errorText!'-- no message --'}</p>
            </div>
            </#if>
            <div class="bottom_box">
                <a href="/"><@spring.message "link.onMainPage" /></a>
            </div>
        </div>

    </div>

</@main.renderWith>