<#import "/spring.ftl" as spring>
<#import "partials/main.ftlh" as main>
<@main.renderWith styles=["css/styles.css", "css/reset.css"]>

    <div id="login" class="registration">
        <div class="form_block">
            <h3><@spring.message "login.text" /></h3>
            <form id="login_form" action="/login" method="post">
                <div class="form_row">
                    <#if _csrf??>
                        <input type="hidden" name="${(_csrf.parameterName)!'csrf'}" value="${(_csrf.token)!'--no-token--'}"/>
                    </#if>
                    <input type="text" class="field" name="username" placeholder="E-mail" value="${(dto.email)!''}" autofocus>
                    <input type="text" class="field" name="password" placeholder="<@spring.message "placeholder.password" />" value="">
                    <button type="submit" class="form_block_btn" name="enter"><@spring.message "login.enter" /></button>
                </div>
            </form>
            <div>
                <#if error!false >
                    <p style="color:red"><@spring.message "login.wrongNamePassword" /></p>
                </#if>
            </div>
            <div class="bottom_box">
                <a href="/forgot_password"><@spring.message "login.forgotText" /></a>
            </div>

            <div class="bottom_box">
                <a href="/"><@spring.message "link.onMainPage" /></a>
            </div>
        </div>

    </div>

</@main.renderWith>