<#import "/spring.ftl" as spring>
<#import "partials/main.ftlh" as main>

<@main.renderWith scripts=["/js/main.js"] styles=["/css/styles.css", "/css/reset.css"]>

    <#include "partials/categories.ftlh">
    <div class="main">
        <#include "partials/header.ftlh">
        <main>
            <div id="product_list" class="product_list">
                <div class="product_detail_block">
                    <div class="product_detail">
                        <h2 class="product_header_detail"><@spring.message "product.info"/>: </h2>
                        <div class="product_block_detail">
                            <div class="w_30">
                                <div class="product_img_detail"><img src="/img/${product.image}" alt=""></div>
                            </div>
                            <div class="w-70_detail">
                                <span><@spring.message "product.name"/>:</span>
                                <div class="product_name_detail"><h3>${product.name}</h3></div>
                                <span><@spring.message "product.description"/>:</span>
                                <p class="product_description_detail">${product.description}</p>
                                <span><@spring.message "product.price"/>:</span>
                                <p class="product_price_detail">${product.price?string.currency}</p>
                                <span><@spring.message "product.status"/>:</span>
                                <#if product.qty = 0>
                                    <p class="product_price_detail" style="padding: 1em; background: grey; width: 15%;"><@spring.message "product.status.in"/></p>
                                <#else>
                                    <p class="product_price_detail" style="padding: 1em; background: grey; width: 15%;"><@spring.message "product.status.no"/></p>
                                </#if>
                            </div>
                        </div>
                    </div>
                    <div class="product_basket w_30">
                        <form class="product_basket_form">
                            <#if _csrf??>
                                <input type="hidden" name="${(_csrf.parameterName)!'csrf'}" value="${(_csrf.token)!'--no-token--'}"/>
                            </#if>
                            <label class="product_basket_qty_block w_30">
                                <span class="product_qty_span w_50"><@spring.message "basket.form.qty"/></span>
                                <input type="text" name="qty" class="product_qty_text w_30" value="1" min="1" required>
                            </label>
                            <input type="hidden" name="product_id" value="${product.id}">
                            <div class="product_basket_btn_block w_70">
                                <button type="submit" class="product_basket_btn"><@spring.message "basket.form.toBasket"/></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="product_page_links" class="product_page_links"></div>
            <div id="full_search" class="full_search"></div>
            <div class="reviews">
                <#if dto??>
                    <form id="review_form" class="review_form">
                        <h3><@spring.message "review.form.makeReview.text"/></h3>
                        <input type="hidden" name="product_id" value="${product.id}">
                        <input type="hidden" name="user_email" value="${(dto.email)!''}">
                        <textarea type="text" rows="5" class="big_field" name="text" placeholder="<@spring.message "placeholder.review"/>:" minlength="1"></textarea>
                        <button type="submit" class="review_block_btn"><@spring.message "review.form.makeReview"/></button>
                    </form>
                <#else>
                    <h4 style="color: red; margin-bottom: 1em;"><@spring.message "review.announcement.login"/></h4>
                </#if>
                <h3 style="margin-bottom: 1em"><@spring.message "review.reviews"/>:</h3>
                <div class="product_review_list">
                    <#list reviewList as review>
                        <div class="product_review_block">
                            <h5>${review.user.login}</h5>
                            <p>${review.text}</p>
                        </div>
                    </#list>
                </div>
            </div>
        </main>
    </div>



</@main.renderWith>