<#import "/spring.ftl" as spring>
<#import "partials/main.ftlh" as main>

<@main.renderWith styles=["/css/styles.css", "/css/reset.css"]>


    <div id="registration" class="registration" >
        <div class="form_block">
            <h3><@spring.message "registration.text" /></h3>
            <form id="registration_form" action="/registration" method="post">
                <div class="form_row">
                    <#if _csrf??>
                        <input type="hidden" name="${(_csrf.parameterName)!'csrf'}" value="${(_csrf.token)!'--no-token--'}"/>
                    </#if>
                    <input type="text" class="field" name="name" placeholder="<@spring.message "placeholder.name" />" value="${(dto.name)!''}">
                    <input type="text" class="field" name="surname" placeholder="<@spring.message "placeholder.surname" />" value="${(dto.surname)!''}">
                    <input type="text" class="field" name="email" placeholder="E-mail" value="${(dto.email)!''}">
                    <input type="text" class="field" name="login" placeholder="<@spring.message "placeholder.login" />" value="${(dto.login)!''}">
                    <input type="text" class="field" name="password" placeholder="<@spring.message "placeholder.password" />" value="">
                    <button type="submit" class="form_block_btn"><@spring.message "registration.register" /></button>
                </div>
                <div>
                    <#if errors?? >
                        <p><@spring.message "error.enteredValueError" /></p>
                        <#list errors as fieldError>
                            <p>${fieldError.field} - ${fieldError.defaultMessage!'-- no message --'}</p>
                        </#list>
                    </#if>
                </div>
            </form>
            <div class="bottom_box">
                <a href="/"><@spring.message "link.onMainPage" /></a>
            </div>
        </div>

    </div>


</@main.renderWith>